body {
  background-image: url('/src/images/background-airplane.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.title-card {
  align-items: center;
  background-color: #2140527a;
  border-radius: 22px;
  box-shadow: 1px 5px 50px -15px rgb(0 0 0);
  display: flex;
  flex-direction: column;
  width: 100vw;
}

h1 {
  color: #D9D9D9;
  font-family: 'Tiro Bangla', serif;
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 20px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 0.5);
}

h2 {
  font-family: 'Italianno', cursive;
  font-size: 2.5em;
  font-weight: 200;
  margin: 10px;
  margin-top: 0;
}

.glide{
  display: flex;
  align-items: center;
}

.glide__slide {
  display: flex;
  justify-content: center;
}

.booking-details,
.booking-form,
.pending-booking-card,
.upcoming-booking-card,
.past-booking-card,
.total-year-spent-card {
  align-items: center;
  background-color: #26273466;
  border-radius: 25px;
  box-shadow: 1px 5px 50px -15px rgba(0 0 0 / 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
  margin-bottom: 4%;
  margin-top: 3%;
  width: 75vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.booking-details,
.booking-form,
.total-year-spent-card {
  justify-content: center;
}

.confirmation-box,
.trip-boxes,
.total-spent-box {
  align-items: center;
  background-color: #F5F5F5D4;
  border-radius: 22px;
  box-shadow: 1px 7px 40px 5px rgba(0 0 0 / 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 60vw;
}

.dollars-per-year {
  font-family: 'Italianno', cursive;
  font-size: 2em;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.subtitle-massage {
  font-size: 1.5em;
  font-weight: 100;
}

.destination-img {
  height: 200px;
  width: 250px;
  border-radius: 22px;
  box-shadow: 1px 7px 30px 5px rgba(0 0 0 / 0.25);
}

.pending-booking-pic,
.upcoming-booking-pic,
.past-booking-pic{
  display:flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.no-upcoming {
  display: flex;
  justify-content: center;
  font-family: 'Italianno', cursive;
  font-size: 2em;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 2%;
  margin-top: 2%
}

.pic-box-style {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.booking-outer-box {
  align-items: center;
  background-color: #F5F5F5D4;
  border-radius: 22px;
  box-shadow: 1px 7px 40px 5px rgba(0 0 0 / 0.25);
  display: flex;
  justify-content: space-evenly;
  height: 63vh;
  width: 70vw;
}

.date-details {
 align-items: center;
 background-color:#D9D9D9;
 border-radius: 22px;
 box-shadow: inset -10px -5px 19px -19px rgb(0 0 0 / 50%);
 display: flex;
 flex-direction: column;
 height: 55vh;
 justify-content: center;
 width: 25vw;
}

.human-details {
 align-items: center;
 background-color:#D9D9D9;
 border-radius: 22px;
 box-shadow: inset -10px -5px 19px -19px rgb(0 0 0 / 50%);
 display: flex;
 flex-direction: column;
 height: 55vh;
 justify-content: center;
 width: 35vw;
}

.destinations,
.num-style,
.cal-style{
  border: none;
  border-radius: 12px;
  box-shadow: inset -10px -10px 15px -18px rgb(0 0 0 / 50%);
  color: rgba(0, 0, 0, 0.70);
  font-size: 1.2em;
  height: 10%;
  margin-bottom: 20px;
  width: 50%;
}

.confirm-booking,
.submit-search {
  border: none;
  border-radius: 12px;
  box-shadow: 10px 15px 20px 6px rgb(0 0 0 / 25%);
  color: rgba(0, 0, 0, 0.70);
  font-size: 1.2em;
  height: 10%;
  margin-bottom: 20px;
  width: 50%;
  transition: 0.2s all;
}

.confirm-booking:active,
.submit-search:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.submit-search{
  margin-top: 10px;
}

.booking-holder,
.booking-det-container {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide__arrow {
  height: 30px;
  border: none;
  border-radius: 45%;
}

.hidden {
  display: none;
} 